.login {
    width: 20em;
    border: 1px solid black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.login-err {
    background-color: red;
}